<div class="mt-4">
  {{!-- nếu không nhập action(Request URL) thì nó sẽ tự động ăn theo url hiện tại còn nếu có action thì nó sẽ ăn theo yêu cầu(Submit ở 1 nơi khác)--}}
    <form method="POST" action="">
      <div class="form-group">
        <label for="gender-input">Từ khóa</label>
        <select name="gender" id="gender-input">
          <option value="">--Chọn giới tính</option>
          <option value="male">Nam</option>
          <option value="female">Nữ</option>
        </select>   
      </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>