<div class="mt-4">
  {{!-- nếu không nhập action(Request URL) thì nó sẽ tự động ăn theo url hiện tại còn nếu có action thì nó sẽ ăn theo yêu cầu(Submit ở 1 nơi khác)--}}
    <form method="" action="/news">
  <div class="form-group">
    <label for="form-control">Từ khóa </label>
    <input type="text" name="fullname">
    <input type="text" name="age">
    <input type="text" name="q" class="form-control" id="form-control"  placeholder="Nhập từ khóa">
  </div>
  
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>